* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #1a1a1a;
  padding: 20px;
}

body,
.episode div {
  color: #222;
}

#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  align-items: stretch;
  justify-items: center;
}

.main-header {
  padding: 2rem 0;
}

.episode,
.show {
  background: white;
  color: #1a1a1a;
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.episode h2 {
  font-size: 1.1rem;
  color: 1a1a1a;
  font-weight: bold;
  text-align: center;
}

.episode h3 {
  text-align: center;
  font-size: 0.9rem;
  color: #444444;
}

.episode img {
  width: 100%;
  border-radius: 8px;
  display: block;
  object-fit: cover;
}

.episode div {
  font-size: 0.85rem;
  color: #1a1a1a;
  text-align: justify;
}

.episode:focus {
  outline: 3px solid #0077cc;
  outline-offset: 4px;
}

episode:focus,
a:focus {
  outline: 3px solid #0055aa;
  outline-offset: 4px;
}

/* SHOW */
.show-summary {
  max-height: 12.5ch;
  overflow-y: hidden;

}

.show-summary p {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-genres {
  display: flex;
  gap: 0.25rem;
}

.btn {
  all: reset;
  border: 1px solid #003f88;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: white;
  color: #003f88;
}


footer {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  font-size: 0.85rem;
  color: #555;
}

footer a {
  color: #0055aa;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

a {
  text-decoration: underline;
  /* required for accessibility */
  font-weight: 600;
  /* optional, adds clarity */
  color: #0055aa;
  /* passes contrast AA */
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #003f88;
  /* darker on hover = more contrast */
}

/* SEARCH */
#search-form {
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

input[type="text"] {
  padding: 1rem;
  border: 1px solid #003f88;
  border-radius: 0.5rem;
}

#search-form>input {
  flex-grow: 1;
}

#search-results-infos {
  margin: 1rem 0;
  padding: 1rem auto;
  font-weight: bold;
}

/* Hide episode select */
select:empty {
  display: none;
}
